
{% extends 'index.html' %}
{%block content %}
    {% load staticfiles %}
    <br><br>
    <div class="media" >
  
            <img src="{% static 'soyoung.jpg'%}" height="300" class="align-self-start mr-3" alt="제 사진입니다.">
            <div class="media-body" >
              <h3 class="mt-0">양소영</h3>
              <p>안녕하세요 멋사7기 양소영입니다!<br>
                저는 현재 한국산업기술대학교에 재학중이고 컴퓨터공학과 3학년입니다.<br>
                멋쟁이 사자처럼에서 아이디어를 실현시키기 위해 웹을 공부한다는 점도 흥미로웠고<br> 동아리활동을 하면서 많은 사람들을 만날 수 있을 것같아서
                들어왔습니다.<br> 다른 학교들이랑 모여서 아이디어톤도 하고 학교사람들과 다양한 아이디어 이야기도 해보면서<br>
                재밌기도 하고 더 열심히 해서 아이디어를 온전히 실현시켜 웹페이지 만들어서 많은 사람들이<br> 사용할 수 있도록 만들고싶습니다.
              </p>
            </div>
          </div>
 
{%endblock%}